<div class="pull-right">

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <a href="<%= new_registration_path(resource_name) %>" class="btn btn-sm btn-default"
       data-toggle="tooltip"
       data-placement="top"
       title="Create new account">
        <i class="fa fa-user-plus"></i>
    </a>
    <% end -%>

    <%- if controller_name != 'sessions' %>
    <a href="<%= new_session_path(resource_name) %>" class="btn btn-sm btn-default"
       data-toggle="tooltip"
       data-placement="top"
       title="Sign In">
        <i class="fa fa-sign-in"></i>
    </a>
    <% end -%>
</div>

<div class="pull-left">
    <h3 class="panel-title" style="margin-top: 8px;">
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            Sign In
        <% end -%>
        <%- if controller_name != 'sessions' %>
            Register
        <% end -%>
    </h3>
</div>

<div class="clearfix"></div>



