/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


//@import "bootstrap_flatly_bootswatch";
@import "bootswatch";
@import "font-awesome-sprockets";
@import "font-awesome";

$title-font-size: 14px;
$title-line-height: 1.4;
$title-lines-to-show: 4;

.event_item{
  .panel-body a{
    color: black;
  }
  .title{
    padding-left: 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $title-font-size;
    line-height: $title-line-height;
    height: $title-font-size*$title-line-height*$title-lines-to-show;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* number of lines to show */

    font-weight: bold;
  }
  table {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  img{
    position: relative;
    width: 80px;
    height: 80px;
  }
  .current_money{
    font-size: 22px;
    font-weight: bolder;
  }
}